.home__page__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(42, 123, 155, 1) 99%
  );
}
.home__page__text__warper {
  width: 100%;
  max-width: 800px;
  padding: 8em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  gap: 1em;
}
.home__page__text__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.home__page__text__sub__title {
  font-size: 1.1rem;
}

.search__container {
  max-width: 600px;
  width: 100%;
}

.search__bar {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  background-color: #f3f4f6;
}

.search__bar input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
}

.search__button {
  background-color: #a78bfa;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}
.search__button:hover {
  background-color: #8b5cf6;
  transition: background-color 0.3s;
}

.categories {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.category__tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tag:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.book__card__warper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1366px;
  margin: 0 auto;
  padding: 2em;
}
.book__card__warper___title__title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.book__card__container {
  display: flex;
  flex: 0 1 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.6em;
  padding: 0.5em;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.book__card__name {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}
.book__card__author {
  font-size: 0.9rem;
  font-weight: 400;
  color: #666;
}
.book__card__download__button {
  background-color: #a78bfa;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.book__card__download__button:hover {
  background-color: #8b5cf6;
  transition: background-color 0.3s;
}
.book__card__download__button svg {
  width: 16px;
  height: 16px;
}
@media (max-width: 700px) {
  .home__page__text__title {
    font-size: 1.6rem;
  }
  .home__page__text__sub__title {
    font-size: 1rem;
  }
}
